.rvmrc
anounz
/app/stylesheets/.sass-cache
/config/newrelic.yml
/yardoc/
/.yardoc
mkmf.log
config/database.yml
config/application.yml
config/mailer.yml
config/oauth_secrets.yml
config/unicorn.rb
config/*.sphinx.conf
config/sphinx.yml
config/monit
log/*.log
db/*.sqlite3
tmp
temp
doc/api
doc/app
doc/plugins
nbproject
db/schema.rb
db/*structure.sql
log/development.log
REVISION
log
coverage/*
index/*
public/javascripts/cached/*
public/stylesheets/compiled/*
public/stylesheets/cached/*
public/ad_images/*
public/ad_images
public/group_images/*
public/system
public/ad_reply_images/*
.DS_Store
.project
.loadpath
*.swp
public/user_avatars/*
.nbproject
db/bootstrap/IP*CSV
db/bootstrap/ipligence.csv
vendor/plugins/haml/init.rb
vendor/marktplatz/Gemfile.lock
config/*.bak
.bundle
app/stylesheets/.sass-cache
db/sphinx/*
relock/*
vendor/cache/*
